.menu {
  position: absolute;
  left: 0;
  top: 133px;
  height: 100%;
  z-index: 99;
  width: 100%;
}
.foo-menu {
  position: relative;
  z-index: 1000 !important;
}
.am-menu .am-flexbox .am-flexbox-item:first-child{
  align-self: stretch;
}
.menu-mask {
  content: ' ';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 79;
}